/*Colors*/

$col-primary: hsl(172, 67%, 45%);

$col-neutral-600: hsl(183, 100%, 15%);
$col-neutral-500: hsl(186, 14%, 43%);
$col-neutral-400: hsl(184, 14%, 56%);
$col-neutral-300: hsl(185, 41%, 84%);
$col-neutral-200: hsl(189, 41%, 97%);
$col-neutral-100: hsl(0, 0%, 100%);
